@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("pantip.com") {
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.25em;
    font-family: Arial, Helvetica, Sans-serif, Geneva, Tahoma;
    font-size: 87.5%;
    background: #222!important;
    color: #ccc;
    min-width: 1045px;
  }
  
  .samgee .display-post-wrapper-inner {
    position: relative;
    z-index: 10;
    background: #262427;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .samgee .display-post-story {
    font-size: 1.143em; /*16px*/
    /*font-size:1.214em; 17px*/
    line-height: 1.563em; /* 25px*/
    /*line-height:1.625em;*/ /*26px*/
    /*line-height:1.688em;*/ /* 27px*/
    /*line-height:1.7em;*/
    /*line-height:1.750em;*/ /*28px*/
    /*line-height:1.813em;*/ /* 29px*/
    /*line-height:1.875em;*/ /* 30px*/
    word-wrap: break-word;
    color: #c0c0c0;
    padding-top: 25px;
  }

  .samgee .display-post-wrapper.main-post {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    background: #433f40;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .samgee .main-post .display-post-story {
    color: #cccccc;
    padding-top: 27px;
  }

  .samgee .display-post-title {
    font-size: 1.714em;
    font-weight: normal;
    color: #FFCD05;
    line-height: 120%;
    padding: 27px 0px 9px 0px;
    word-wrap: break-word;
  }

  .samgee .comment-box-color .display-post-wrapper-inner {
    background: #42424e;
  }

  .samgee .display-post-wrapper.comment-box-color textarea {
    width: 100%;
    max-width: 100%;
    height: 230px;
    overflow: auto;
    line-height: 1.563em;
  }

  .related-show .related-post-list .post-pick-nothumb {
    background: none repeat scroll 0 0 #42424E;
    border-bottom: 1px solid #666666;
    font-size: 1.143em;
    min-height: 80px;
    padding: 5px 10px;
    position: relative;
  }

  .related-show .related-post-list .post-pick .post-pick-desc, 
  .related-show .related-post-list .post-pick-nothumb .post-pick-desc, 
  .related-show .related-post-list .post-pick-ad .post-pick-desc, 
  .related-show .related-post-list .post-pick-ad-nothumb .post-pick-ads, .related-show .related-post-list .post-pick-ad .post-pick-ads
  {
    color: #999 !important;
    font-size: 13px;
    line-height: 15px;
    max-height: 45px;
    overflow: hidden;
  }

  .related-show .related-post-list .post-pick a, .related-show .related-post-list .post-pick-nothumb a, .post-pick-ad a, .post-pick-ad-nothumb a {
    color: #C2C2C2;
    text-decoration: none;
  }

  .samgee .emotion-vote-list {
      background: #343135;
      border: solid 1px #555;
    margin: 7px 0px 0px 0px;
    color: #999999;
  }

  .samgee .emotion-vote-list.alt02, .samgee .altcolor05 .display-post-wrapper-inner .emotion-vote-list {
    background: #333;
    border: solid 1px #555;
  }

  .samgee .emotion-vote-user a:link, .samgee .emotion-vote-user a:visited {
    text-decoration: none;
    color: #999999 !important;
  }

  .small-txt-fixed {
    font-size: 13px !important;
  }

  .samgee .display-post-avatar .display-post-avatar-inner .display-post-name {
    color: #999;
    text-decoration: none;
  }

  .samgee .display-post-avatar .display-post-avatar-inner .display-post-timestamp {
    font-size: 0.929em;
    color: #999;
  }

  .remark-four-txt {
    color: #cccccc !important;
  }

  .related-show .related-post-list .post-pick .post-pick-by .by-name, .related-show .related-post-list .post-pick-nothumb .post-pick-by .by-name, .related-show .related-post-list .post-pick-ad .post-pick-by .by-name {
    color: #aaa;
    text-decoration: none;
  }

  .samgee .pageno-title .title {
    color: #999;
    background: #222;
    position: relative;
    z-index: 10;
    padding: 0px 20px 0px 45px;
    margin-left: 27px;
    display: inline-block;
    *display:inline;
    zoom: 1;
    white-space:nowrap;
  }

  .samgee .sub-comment .display-post-wrapper-inner {
    background: #393944;
  }

  .samgee .display-post-number {
    color: #D3C69A;
    font-size: 13px;
    opacity: 0.5;
    filter: alpha(opacity =50);
    zoom: 1;
  }
}
